.background{
	background-color: #ECECEA;
}
.text-padding{
	padding: 50px;
	margin-left: 150px;
}
input{
	width:250px !important; 
	padding-left: 50px;
}
.inline{
	list-style-type: none;
}
.container{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 25%;
	margin-right: 25%
}

.map{
	height: 50%;
	width: 50%;
}

.submit-margin{
	margin-left: 3%;
}

.question-center{
	margin: 0% 50%;
}

.wordoftheday{
	font-size: 20px;
	color: red;
	margin: 0px 25%;
}

.date-style{
	background-color: #ffcc99
}

canvas{
	background:#FAEBD7;
	margin: 0px 25%;
}